<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    colors="true">
    <php>
        <ini name="error_reporting" value="-1" />
        <ini name="memory_limit" value="-1" />
        <env name="PIMCORE_VERSION_DIRECTORY" value="/var/www/pimcore/" />
    </php>
    <testsuites>
        <testsuite name="Unit tests">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
